:root{
    --buttonColor : rgb(0, 149, 255);
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Glory', sans-serif;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

#nav{
    display: flex;
    height: 90px;
    justify-content:space-between;
    padding: 10px 65px;
}

#nav > *{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap:2px;
}

.nav-left > button{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: black;
}

.nav-left > button:nth-child(2){
    background-color: var(--buttonColor);
    color: white;
    border: 1px solid white;
}

.nav-center > img{
    height: 30%;
    border-radius: 100%;
    object-fit: cover;
    margin-right:5px;
}

.nav-center > h2{
 text-transform: uppercase;
 font-size: medium;
}

button{
    border-radius: 15px;
    padding: 6px 12px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.nav-right > .login{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: black;
}

.nav-right > .signup{
    background-color: var(--buttonColor);
    border: 1px solid white;
    color: white;
}

/* Content */
#hero{
    height: 550px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    position: relative;
}

#hero > h1{
    font-size: 200px;
}

#hero > .images{
    height: 300px;
    width: 300px;
    position: absolute;
}

/* Hero Footer */
#hero-foot{
    height:68px;
    display: flex;
    justify-content: space-between;
    padding: 0px 65px;
    align-items: center;
}

#hero-foot > .arrow-down{
    height: 30px;
    margin-top: 20px;
    border:1px solid black ;
    border-bottom: 0px;
    cursor: pointer;
    padding:5px 20px;
    font-size: 30px;
    border-top-right-radius:50px ; 
    border-top-left-radius:50px ; 
}

#hero-foot > .social-links{
    display: flex;
    font-size: 20px;
    gap:10px;
    justify-content: flex-end;
    align-items: center;
}

.social-links > i{
    cursor: pointer;
}

/* On Hover Animation Effect */
.images > .imageBox {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 15px;
    
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.imageBox > img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    position: absolute;
}

.imageBox > h2{
    display: none;
    margin: 0px;
    padding: 20px 0px;
    letter-spacing: 4px;
    text-transform: uppercase;
    width: 100%;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(59, 59, 59, 0.351);
    transition:ease-in;
    text-align: center;
    position: absolute;
    top:0%;
    text-shadow: 0 0 10px rgb(0, 106, 255), 0 0 20px rgb(0, 149, 255), 0 0 30px rgb(0, 183, 255);
}

.images > .imageBox:nth-child(1){
    transform: rotate(-30deg);
}

.images > .imageBox:nth-child(2){
    transform: rotate(-20deg);
}

.images > .imageBox:nth-child(3){
    transform: rotate(-10deg);
}

@keyframes hoverOn1 {
    from { transform: rotate(-30deg); }
    to { transform: rotate(0deg); }
}

@keyframes hoverOn1-reverse {
    from { transform: rotate(0deg),scale(1.2); }
    to { transform: rotate(-30deg); }
}

@keyframes hoverOn2 {
    from { transform: rotate(-20deg); }
    to { transform: rotate(0deg); }
}

@keyframes hoverOn2-reverse {
    from { transform: rotate(0deg); }
    to { transform: rotate(-20deg); }
}

@keyframes hoverOn3 {
    from { transform: rotate(-10deg); }
    to { transform: rotate(0deg); }
}

@keyframes hoverOn3-reverse {
    from { transform: rotate(0deg); }
    to { transform: rotate(-10deg); }
}
